<main>
    <label>Search</label>&nbsp;
    <input type="text" name = 'search' [(ngModel)]="search">
    <div>
       <a routerLink="/shop"><button class="btn btn-success"><mat-icon>backspace</mat-icon>&nbsp; Back To Shop</button></a>
    </div>
  
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Amount &nbsp;</th>
            <th>Total Price</th>
        </tr>
    </thead>
        <tbody>
        <!-- <app-cart-details-row *ngFor="let c of cartDetails"  [cartProduct]="c"></app-cart-details-row> -->
        <tr *ngFor="let c of cartDetails">
            <td innerHTML = "{{c.name | highlight : search}}">{{c.name}}</td>
            <td>{{c.amount}}</td>
            <td>{{c.totalPrice.toFixed(2) | currency}}</td>
        </tr>
    </tbody>
     
    </table><br />

    <div class="totalPrice">
    Total Price: {{totalPrice2 | currency}}
</div>
</main>




