.list{
    position: relative;
    background-color:whitesmoke
}

.cart{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgb(233, 233, 233);
    
  }
  button{
    display: inline-block;
    top: 2.5%;
    left: 0.5%;
    margin: 30px;
    position: fixed;
    z-index: 2;
  }

  mat-drawer-container{
    height: 100%;
  }
